$primary-color: #FCF6EB;
$secondary-color: #222;

@mixin center-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
@mixin for-tablet {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin for-phone {
    @media (max-width: 576px) {
        @content;
    }
}